body {
    background-image: url(wall2.jpg);
    font-family: sans-serif;
}

.menu {
    margin-top: 0;
    width: auto;
    color: white;
} 

ul.list{
    display: flex;
    padding: 0;
    justify-content: center;
    font-size: 24px;
}

.menu-li {
    list-style: none;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;;
}

a {
    text-decoration: none;
    transition: .5s;
}

a:hover {
    box-shadow: inset 0 0 0 2px white;
    transition: .5s;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

hr {
    border: 1px solid white;
}
