body {
    background-color: #547980;
    font-family: sans-serif;
}

.menu {
    background-color: #547980;
    margin-top: 0;
    width: auto;
    color: black;
} 

ul.list{
    display: flex;
    padding: 0;
    justify-content: center;
    font-size: 24px;
}

.menu-li {
    list-style: none;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;;
}

a {
    text-decoration: none;
}

a:hover {
/*    background-color: aliceblue;*/
    box-shadow: inset 0 0 0 3px white;
/*    border-radius: 70%;*/
    transition: .5s;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}
