.header {
    display: flex;
}

.info {
    margin-top: -400px;
    padding-left: 30%;
}

p {
    color: white;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
}

.middle {
    padding-left: 10%;
    margin-top: 0;
    width: auto;
    color: white;
}

ul.top_skills{
    display: flex;
    padding: 0;
    justify-content: center;
    font-size: 24px;
}

.skills-li {
    transition: .5s;
    list-style: none;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;;
}

li.skills-li:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
    transition: .5s;
}

a:visited {
    color: white;
}





